.Auth-container {
  background-image: url("./assets/images/bg1.png");
  background-position: center center;
  background-size: cover;
  flex-direction: column;
}

.login-container {
  /* background-color: rgba(2, 36, 5, 0.705); */
  background-color: #2d564ecb;
}

.form-group {
  margin-bottom: 10px;
}
.form-group label {
  color: #ffc107;
}
.for-visibilty-password-container {
  position: relative;

}

.main-content {
  background-color: #f5f5f5;

}

.for-visibilty-password-button {
  position: absolute;
  top: 51%;
  right: 0;
  border: none !important;
}

.for-visibilty-password-button:hover {
  background-color: transparent !important;
}

/* style for image in register  */
.register-Box-Image {
  width: 90px;
  height: 80px;
  opacity: 0.5;
}

.vector {
  left: 35%;
  top: 43%;
}

.vector2 {
  left: 0%;
  top: 43%;
}

.color-transparent {
  color: transparent;
}

/* end style for register section  */
.form-control{
  background-color: transparent !important;
  border: none !important;
  color: white !important;
  padding: 0.5rem  0 !important;
} 
.form-control::placeholder{
  color: white !important;
  padding-left: -10px !important;

}
.form-control::focus {
  border: none !important;
}
.border_bottom{
  width: 100%;
  border-bottom: .5px solid rgba(206, 205, 205, 0.507);
}

/*custom color for button  */
.color-button {
  background-color: #EF9B28 !important;
}

/* custom color for text 
.color-text {
  color: #EF9B28 !important;
}

/* Custom cursor pointer */
.custom-cursor {
  cursor: pointer;
}
.dragging {
  cursor: grabbing; /* Change cursor to grabbing while dragging */
}
/* side bar    */
/* Sidebar */

 .sidbar-icon {
  color: white;
  position: relative;

} 
.toggle-sidebar-btn {
  position: absolute ;
  top: 0;
  left: 0;
  padding: 10px;
  cursor: pointer;
  /* Add any additional styling as needed */
}

.toggle-sidebar-btn  {
  transition: transform 0.3s ease;
}

.collapsed .toggle-sidebar-btn {
  transform: rotate(180deg);
}


 /* .sidbar-icon .chevron-right {
  color: white;
  background-color: #EF9B28;
  padding: 8px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  position: absolute;
  top: 0;
  left: 63%;
}
.sidbar-icon .chevron-left {
  color: white;
  background-color: #EF9B28;
  padding: 8px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  position: absolute;
  top: 0;
  left: 74.5% !important;
}
@media only screen and (max-width: 1130px) {
  .sidbar-icon .chevron-left {
    left: 72% !important;
  }
}
@media only screen and (max-width: 1030px) {
  .sidbar-icon .chevron-left {
    left: 70% !important;
  }
}

@media only screen and (max-width: 1045px) {
  .sidbar-icon .chevron-left {
    left: 69% !important;
  }
} */
@media only screen and (max-width: 876px) {
  .sidbar-icon .chevron-left {
    left: 67% !important;
  }
  .sidbar-icon{
    display: none !important;
  }
}  

@media only screen and (min-width: 876px) {
  
  .display-none{
    display: none !important;
  }
}
@media only screen and (max-width: 994px) {
  
  .display-none-2{
    display: none !important;
  }
}
/* sidbaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaar */
.sidebar-style {
  background-color: #0E382F !important;
}

.sideBar-container {
  overflow: hidden;
  background-color: #0E382F !important;
}
.css-dip3t8 {
  background-color: #0E382F !important;
}
.ps-menuitem-root:hover {
  background-color: #EF9B284D !important;
  border-radius: 10px;
} 
 .ps-menuitem-root:first-of-type:hover {
  background-color: transparent !important;
}

.ps-menu-button:hover {
  background-color: transparent !important;
}

i {
  cursor: pointer;
}

.header-container {
  background-image: url(./assets/images/bgHeader.jpg);
  border-radius: 2rem;
  background-size: cover;
  width: 100%;
  color: white;
  height: 330px;

}

/* style for project */

.formControlProject{
  color: #000 !important;
}
.formControlProject::placeholder{
  color: gray !important;
}

/* style for takes data */
 .formControlTasksData{
  border: 1px solid #dee2e6 !important;
  color: #212529 !important;
  background-color: #fff !important;

  padding: 0.375rem 0.75rem !important;


}

.formControlTasksData::placeholder{
  color: grey !important;
  padding-left: 0.5rem !important;

}

.pagination {
  cursor: pointer;


}
.thead-userList{
background-color: #0E382F !important;
}
.page-item:first-child .page-link{
  color: #2d564ecb;
}
.page-item:not(:first-child) .page-link{
  color: #2d564ecb;
  
}

/*  style for TaksBoard */

.color-box-Taks {
  background-color: #456961;
}
.bg-yellow {
  background-color: #EF9B28;
} 

.w-90 {
  width:  90% !important;
}
.custom-box-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6); /* Example shadow */
}
.tasks i, .user i{
  background-color: #CFD1EC;
}
.tasks , .user{
  background-color: #E5E6F4;
}
.tasks1 i,.user1 i{
  background-color: #E4E4BC;
}
.tasks1,.user1{
background-color: #e9e9df;
}
.tasks2{
  background-color: #F4E5ED;
   }
.tasks2 i{
  background-color: #E7C3D7;
  
   }
   
   .dashboaed-charts i{
    /* background-color: #ffffff; */
    text-align: center;
    width:60px;
    padding: 10px;
    border-radius: 15px;
   }
  

/* Dark Mode and Light Mode */

/* Dark Mode */
.dark-mode {
  background-color: #9a9ca136;
  color: rgba(65, 50, 50, 0.671);
}

/* Light Mode */
.light-mode {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.658);
}
/* Header */
.light-mode .header-container {
  color: white;
}

.dark-mode .header-container {
  color: white;
}

.BoxShadowForTables{
 box-shadow: 0px 2px 4px 0px #00000026;
}



/* navbar */
.navbar-light {
  background-color: #fff; 
  color: #fff; 
}
.dark-mode .navbar-light {
  background-color: #333; 
  color: #fff; 
}
.dark-mode .navbar-nav {
  color: #fff; 
  background-color: transparent;

}
.light-mode .navbar-nav {
  color: black; 

}


.dark-mode .nav-link {
  color: #fff !important; 
}
/* ProjectData */

.bgProjectLightModa{
  background-color: #FFFFFF;

}

.dark-mode .bgProjectLightModa{
  background-color: #060E22;
  color: #000; 
} 

.dark-mode .form-label{
  color: #000;
}

/* TasksList */

.dark-mode .bgColorGray{
  background-color: #060E22;
  color: #000; 
} 

/* TasksData */
.dark-mode .bgGray{
  background-color: #060E22 !important;
} 

.dropdown-item.active, .dropdown-item:active {
  background-color: rgb(175, 169, 169) !important;
}


.sideBarBtn {
  right: -10px !important;
  top: 10px !important;
  cursor: pointer !important;


}


