:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* share data */

.textYellow{
  color: rgb(239,155,40);

}

/*  change Pass */
.conInput{
  position: relative;
}
.fa-eye {
  position: absolute;
  top: 60%;
  right: 10px; 
  transform: translateY(-50%);
  cursor: pointer;
  color: white;

}

.fa-regular , .fa-eye-slash{
  color: white;

  position: absolute;
  top: 75%;
  right: 10px; 
  transform: translateY(-50%);
  cursor: pointer;
}


.modal-content ,.modal-body{
  background-color: #29534eb2 !important;
  
}

.modal-header {

  border-bottom:none;
}

/* taskes */

/* .color{
  background-color:  rgb(239,155,40);
  height: 0.2rem;
  width: 1rem;
} */

.form-control:focus{
  box-shadow: none;
}




.table{
  --bs-table-bg:none !important;
  --bs-table-color :none !important;
}


.dropdown-toggle::after{
display: none !important;
}


/* TasksList */

.bgForModalBody{
  background-color: white !important;
}






